//============ Global: Disable scroll bar

* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0
}

//============ Page: Home Page, Comp: Video Player
:root {
  --video-width: 100vw;
  --video-height: 100vh;
}

@media (min-aspect-ratio: 16/9) {
  :root {
      --video-height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16/9) {
  :root {
      --video-width: 177.78vh;
  }
}

#video-backcover {
  background-color: black;
}

.yt-cover {
  position: absolute;
  top: 0;
  bottom:0;
  right:0;
  left:0;
  z-index:500;
}
.video-background {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.video-background iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--video-width);
  height: var(--video-height);
  transform: translate(-50%, -50%);
}

#video-overlay {
  transform: translate(80%, 100%);
  z-index: 1000;
}

//============ Comp: Navbar

#navbar {
  position: sticky;
  top: 0;
  z-index: 1200;
}

#mobile-navbar {
  position: sticky;
  top: 0;
  z-index: 1090;
}

#drawer-bag {
  position: sticky;
  top: 0;
  z-index: 1100;
}

//============ Page: Create A Burger
// z-index utils
@for $i from 999 through 950 {
  .z-index-#{$i} {
    z-index: $i;
  }
}

//============ Comp: Bag, Change Bag clear icon to pointer
.clearIcon {
  cursor: pointer;
  color: rgb(206, 94, 60)
}
